In [35]:
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df_co2 = pd.read_csv('./lstm_datasets/co2_prediction.csv')
df_co2.head()

df_energy = pd.read_csv('./lstm_datasets/energy_prediction.csv')
df_energy.head()

df_literacy = pd.read_csv('./lstm_datasets/literacy_prediction.csv')
df_literacy.head()

df_expected_schooling = pd.read_csv('./lstm_datasets/expected_schooling_prediction.csv')
df_expected_schooling.head()

df_co2_2 = pd.read_csv('./lstm_datasets/co2#2_prediction.csv')
df_co2_2.head()

df_gdp = pd.read_csv('./lstm_datasets/gdp_prediction.csv')
df_gdp.head()

df_internet = pd.read_csv('./lstm_datasets/internet_prediction.csv')
df_internet.head()

df_gini = pd.read_csv('./lstm_datasets/gini_prediction.csv')
df_gini.head()

df_mean_schooling = pd.read_csv('./lstm_datasets/mean_schooling_prediction.csv')
df_mean_schooling.head()

,Country,2024 Mean Schooling,2025 Mean Schooling,2026 Mean Schooling,2027 Mean Schooling,2028 Mean Schooling
0,Afghanistan,2.991220,3.075291,3.151216,3.218589,3.276677
1,Angola,5.709934,5.811828,5.931969,6.051953,6.165771
2,Albania,11.611897,11.720772,11.818372,11.904657,12.009837
3,Andorra,10.526522,10.524909,10.523480,10.522296,10.521358
4,United Arab Emirates,13.743556,14.019395,14.254596,14.528773,14.895000

In [37]:
dfs = [df_co2, df_co2_2, df_energy, df_gdp, df_gini, df_internet, df_literacy, 
       df_expected_schooling, df_mean_schooling]
for df in dfs:
    df.sort_values('Country', inplace=True)
    df.reset_index(drop=True, inplace=True)

In [38]:
weighting = {
    'CO2': -0.0339,
    'CO2#2': 0.1111,
    'Energy': -0.1315,
    'GDP': 0.0203,
    'Gini': -0.3958,
    'Internet': 0.6896,
    'Literacy': 0.9832,
    'Expected Schooling': 0.0757,
    'Mean Schooling': 0.0202
}

In [39]:
# Create a new DataFrame for CDI predictions
# Create a new DataFrame for CDI predictions
cdi_predictions = pd.DataFrame()
cdi_predictions['Country'] = df_co2['Country']  # Use the common countries list

# Calculate CDI for each year
for year in range(2024, 2029):
    # Get predictions for each variable for the current year
    values = {
        'CO2': df_co2[f'{year} CO2'] * weighting['CO2'],
        'CO2#2': df_co2_2[f'{year} CO2#2'] * weighting['CO2#2'],
        'Energy': df_energy[f'{year} Energy'] * weighting['Energy'],
        'GDP': df_gdp[f'{year} GDP'] * weighting['GDP'],
        'Gini': df_gini[f'{year} Gini'] * weighting['Gini'],
        'Internet': df_internet[f'{year} Internet'] * weighting['Internet'],
        'Literacy': df_literacy[f'{year} Literacy'] * weighting['Literacy'],
        'Expected Schooling': df_expected_schooling[f'{year} Expected Schooling'] * weighting['Expected Schooling'],
        'Mean Schooling': df_mean_schooling[f'{year} Mean Schooling'] * weighting['Mean Schooling']
    }
    
    # Calculate CDI for the current year
    cdi_year = sum(values.values())
    cdi_predictions[f'{year} CDI'] = cdi_year

cdi_predictions.head()

        Country    2024 CDI    2025 CDI    2026 CDI    2027 CDI    2028 CDI
0   Afghanistan  124.412514  133.584956  138.747263  139.732298  140.907617
1        Africa  152.334438  153.950801  155.241702  156.348719  157.449034
2  Africa (GCP)  144.036624  145.107284  145.938957  146.661612  147.187833
3       Albania  257.577552  261.119418  264.967425  267.085383  268.337789
4       Algeria  218.191299  216.934744  216.678100  217.292270  218.172221

In [40]:
cdi_predictions.to_csv('lstm_datasets/cdi_predictions.csv', index=False)